.open-sans-font {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "width" 100;
  }
  
  header{
    overflow: hidden;
      width: 1920px;
  }
  
  main{
      width: 1920px;
  }
  
  .bg{
      background-color: #F5F5F5;
  }
  
  .nav-title{
      font-size: 48px;
      font-weight: bold;
  }
  
  .nav-btn{
      font-size: 28px;
      color: #006A50;
      padding: 22px 44px;
      border-radius: 8px;
      background-color: white;
      border-color: #006A50;  
      margin-right: 160px;   
  }
  .news-content1{
    display: flex;
    
  }
  .news-content1 img{
    margin-right: 15px;
  }
  .news-content2{
    display: flex;
  }
  .news-content2 img{
    margin-left: 0;
  }
  .news{
    margin-left: 160px;
    margin-right: 160px;
    width: 1600px;
  }
  .btn{
      font-size: 28px;
      font-weight: 600;
      background-color: #006A50;
      padding-left: 51px;
      padding-right: 51px;
      padding-top: 25px;
      padding-bottom: 25px;
      color: white;
      border-radius: 8px;
      border: none;
  }
  
  nav{
      display: flex;
      justify-content: space-between;
      margin-right: 0px;
      margin-left: 160px;
      margin-top: 140px;
      align-items: center;
  }
  
  .banner{
      display: flex;
      margin-left:160px ;
      margin-right: 160px;
      background-color: #C6E4D6;
      border-radius: 24px;
      padding-left: 135px;
      padding-right: 135px;
      height: 600px;
      padding-top: 175px;
      padding-bottom: 262px;
  }
  
  .banner-content{
      max-width: 933px;
      max-height: 489px;
      margin-right: 65px;
  }
  
  .banner-title{
      font-size: 70px;
      font-weight: bold;
      width: 933px;
      height: 369px;
  }
  
  .bd{
      font-size: 36px;
      font-weight: 500;
      color: #0E0E0E;
      opacity: 50%;
      margin-bottom: -45px;
  }
  .donation{
    margin-left: 160px;
    margin-right: 160px;
    padding: 0px 50px;
    width: 1500px;
    align-items: center;
  }
  .type-amount{
    display: grid;
    
  }
 
  .amount button{
    height: 50px;
    width: 200px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 16px;
    border: none;
    

  }

  .default-color{
    background-color:#61CF9C;
  }
  .other-amount{
    width: 90%;
    margin: 0 auto;
    height: 50px;
    align-items: center;
    margin-top: 15px;
    text-align: center;
    margin-bottom: 25px;
  }
  .btn-done{
    width: 20%;
     text-align: center;
     margin: 0 auto;
     
  }

  .btn-done:hover{
    background-color: #5490F5;
    color: rgb(171, 232, 49);
  }
  .btn:hover{
    background-color: #d11616;
    color: rgb(171, 232, 49);
  }
  .amount{
    display: flex;
    justify-content: space-around;
  }
  .banner-img{
      padding-right: 90px;
      padding-top: 120px;
      padding-bottom: 120px;
      max-height: 600px;
      max-width: 711px;
  }
  
  .vision-title h2{
      font-size: 60px;
      font-weight: bold;
  }
  
  .vision-title p{
      font-size: 24px;
      color: #0E0E0E;
      opacity: 80%;
  }
  
  .vision{
      margin-left: 160px;
      margin-right: 160px;
      width: 1600px;
  }
  
  .vision-items{
      display: flex;
      justify-content: space-between
  }
  
  .vision-item1{
      background-color: #5490F5;
      margin-right: 36px;
      padding-left: 48px;
      padding-right: 48px;
      padding-bottom: 146px;
      padding-top: 48px;
      border-radius: 16px;
  }
  
  .vision-item2{
      background-color: #C6E4D6;
      margin-right: 36px;
      padding-left: 48px;
      padding-right: 48px;
      padding-bottom: 146px;
      padding-top: 48px;
      border-radius: 16px;
  }
  
  .vision-item3{
      background-color: #F7EBCF;
      padding-left: 48px;
      padding-right: 48px;
      padding-bottom: 146px;
      padding-top: 48px;
      border-radius: 16px;
  }
  .font-set{
    font-size: 16px;
    color: #0E0E0E;
    opacity: 70%;
  }

  .donation h2{
    text-align: center;
  }
  
  .info{
      font-size: 24px;
      color: #0E0E0E;
      opacity: 70%;
  }
  
  .younus{
     background-color: #FFFFFF;
     background-image: url(ass1/assets/quote-bg.png);
     background-repeat: no-repeat;
     background-position: 75px 22px;
     padding: 48px 96px;
     margin-top: 48px;
     width:1418px;
  }
  .name {
      font-size: 30px;
      font-weight: 700;
      opacity: 80%;
      color: #0E0E0E;
  }
  
  main{
      width: 1280px;
      margin: 0;
  }
  .subscribe{
    margin-left: 160px;
    margin-right: 160px;
    width: 1600px;
    background-color: #C6E4D6;
    text-align: center;
    padding-top: 25px;
    margin-top: 20px;
    padding-bottom: 25px;
  }
  .btn-new{
    width: 150px;
    height: 56px;
    padding: 20px 17px;
    font-size: 20px;
    font-weight: bold;
    background-color: #006A50;
    border: none;
    color: white;
    
  }
  .new-input{
    height: 50px;
    width: 250px;
  }
  .sub{
    display: flex;
    justify-content: center;
    
  }
  footer h2{
    text-align: center;
  }

  .icons{
    display: flex;
    justify-content: center;
    gap: 15px;
  }